.aboutproject {
    width: 89%;
    max-width: 1140px;
    min-width: 292px;
    padding: 110px 0;
    margin: 0 auto;
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
}

.aboutproject__title {
    width: 100%;
    margin: 0;
    padding-bottom: 23px;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #424242;
}   

.aboutproject__list {
    padding: 0;
    margin: 0 0 110px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.aboutproject__list-item {
    width: 48.2%;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    list-style-type: none;
}

.aboutproject__list-title {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    padding: 70px 0 26px;
}

.aboutproject__timeline {
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.aboutproject__timeline_backend {
    width: 20%;
    background: #3DDC84;
    padding: 9px 0;
    color: #000000;
}

.aboutproject__timeline_frontend {
    width: 80%;
    background: #303030;
    padding: 9px 0;
}

.aboutproject__timeline-label {
    width: 100%;
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    color: #8B8B8B;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.aboutproject__timeline-label_backend {
    margin: 0;
    width: 20%;
}

.aboutproject__timeline-label_frontend {
    margin: 0;
    width: 80%;
}

@media all and (max-width: 500px) {
    .aboutproject {
        padding: 70px 0;
        width: 91.25%;
    }

    .aboutproject__list {
        flex-wrap: wrap;
    }

    .aboutproject__list-item {
        width: 100%;
        font-size: 11px;
        line-height: 16px;
    }

    .aboutproject__list-title {
        font-size: 18px;
        line-height: 22px;
    }

    .aboutproject__timeline, .aboutproject__timeline-label {
        font-size: 11px;
        line-height: 13px;
    }

    .aboutproject__timeline_backend, .aboutproject__timeline-label_backend{
        width: 35%;
        min-width: 100px;
    }

    .aboutproject__timeline_frontend, .aboutproject__timeline-label_frontend {
        width: 65%;
    }
}