.logo {
    margin: 0;
    background-image: url('../../images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 38px;
    height: 38px;
}

.logo_auth {
    display: block;
}


@media all and (max-width: 500px) {
    .logo_auth {
        margin: 0 auto;
    }
}