.auth-form {
    padding-top: 70px;
    max-width: 396px;
    margin: 0 auto;
    position: relative;
}

.auth-form__title {
    margin: 0;
    padding: 40px 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.auth-form__group {
    border-bottom: 1px solid #424242;
    margin: 16px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.auth-form__group:last-of-type {
    margin-bottom: 0px;
}

.auth-form__input {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: transparent;
    border: none;
    text-align: left;
    width: 100%;
}

.auth-form__label {
    padding-bottom:5px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
}

.auth-form__submit {
    width: 100%;
    padding: 14px 0;
    background-color: #4285F4;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.auth-form__submit:hover {
    opacity: 0.8;
}

.auth-form__submit_signup {
    margin-top: 152px;
}

.auth-form__submit_signin {
    margin-top: 215px;
}

.auth-form__input::placeholder {
    color: #FFFFFF;
}

.auth-form__input:focus {
    outline: none;
}

.auth-form__input:invalid {
    color: #EE3465;
}

.auth-form__group:focus-within {
    border-bottom: 1px solid #4285F4;
}

.auth__link {
    padding-top: 16px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #8B8B8B;
    text-decoration: none;
}

.auth__link_highlighted {
    color: #4285F4;
    transition: opacity 0.3s ease-in-out;
}

.auth__link_highlighted:hover {
    opacity: 0.8;
}
.auth-form__group_signin {
    display: none;
}

.auth-form__input_invalid {
    padding-top: 6;
    color: #EE3465;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

@media all and (max-width: 500px) {
    .auth-form {
      width: 81.25%;
      min-width: 260px;
    }

    .auth-form__group {
        margin: 24px 0;
    }
    
    .auth-form__group:last-of-type {
        margin-bottom: 0px;
    }

    .auth-form__logo {
        margin: 0 auto;
    }

    .auth-form__title {
        text-align: center;
    }

    .auth-form__label {
      font-size: 10px;
      line-height: 12px;
    }

    .auth__link {
        font-size: 12px;
        line-height: 15px;
    }
}