.search {
    padding-top: 80px;
    color: #FFFFFF;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #424242;
}

.search-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.search-form__input {
    width: calc(100% - 54px);
    background: #2F2F2F;
    color: #8B8B8B;
    border: none;
    border-radius: 8px;
    padding: 16px 0 16px 20px;
    font-size: 14px;
    line-height: 18px;
}

.search__submit-btn {
    background-image: url('../../images/find_button.svg');
    background-size: cover;
    width: 44px;
    height: 44px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
}

.search__submit-btn:hover {
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

.search__submit-btn_disabled {
    filter: brightness(50%);
}