.movies-card__delete{
    background-image: url('../../../images/delete.svg');
    margin-left: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    min-height: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity 0.5s ease-out; 
    visibility: hidden;
    opacity: 0;
    transition: all ease-in 0.3s;
}

.movies-card:hover .movies-card__delete {
    visibility: visible;
    transition: all ease-in 0.3s;
    opacity: 1;
}

.movies-card:hover .movies-card__delete:hover {
    opacity: 0.6;
    transition: all ease-in 0.3s;
}