.movies-card {
    background: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    list-style-type: none;
    text-decoration: none;
    max-height: 282px;
    min-height: 237px;
}

.movies-card__elements {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.movies-card__name {
    width: calc(100% - 42px);
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movies-card__duration {
    margin: 0;
    padding-top: 17px;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
}

.movies-card__image {
    width: 100%;
    height: 203px;
    background-position: center;
    object-fit: cover;
    margin: 0;
    border-radius: 10px 10px 0 0;
    transition: all .5s ease-in-out;
}
  
.movies-card__image:hover {
    filter: brightness(65%);
}

.movies-card__like{
    background-image: url('../../../images/like.svg');
    margin-left: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    min-height: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity 0.5s ease-out; 
}
  
.movies-card__like_active{
    background-image: url('../../../images/like_active.svg');
    margin-left: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    min-height: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity 0.5s ease-out; 
}

.movies-card__like:hover {
    opacity: 0.6;
}

@media (min-width: 760px) and (max-width: 900px) {
    .movies-card__image {
        height: 190px;
    }
}