.footer {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #8B8B8B;
}

.footer__title {
    margin: 0 auto;
    padding-top: 79px;
    padding-bottom: 20px;
    font-size: 13px;
}    

.footer__container {
    position: relative;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #424242;
    font-size: 13px;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer__author {
    margin: 0;
    padding: 0;
}

.footer__sitelink-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
}

.footer__list-item {
    display: block;
    margin-right: 20px;
}

.footer__list-item:last-of-type {
    margin: 0;
}

.footer__link {
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
}
  
.footer__link:hover {
    opacity: 0.6;
    transition: opacity .2s ease-in-out;
}

@media all and (max-width: 767px) {
    .footer {
      min-width: 300px;
      margin: 0 auto;
    }

    .footer__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0 10px 0;
    }

    .footer__sitelink-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 30px;
        align-items: center;
    }

    .footer__list-item {
        margin: 0 0 12px 0;
    }

    .footer__list-item:last-of-type {
        margin: 0;
    }
  }