.checkbox {
    width: 156px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 50px;
    font-weight: normal;
    font-size: 12px;
    line-height: 164%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.switch-btn {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin-right: 12px;
    pointer-events: none;
}

.switch-btn__area {
    margin: 0;
    padding: 2px;
    opacity: 0;
    width: 100%;
    pointer-events: all;
    cursor: pointer;
}

.switch-btn__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #EBEBEB;
    transition: 0.4s;
    pointer-events: none;
    border-radius: 20px;
}

.switch-btn__slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 16px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: 0.2s;
    pointer-events: none;
}

.switch-btn__area:checked + .switch-btn__slider {
    background-color: #3DDC84;
}

.switch-btn__area:checked + .switch-btn__slider:before {
    background-color: #F5F5F5;
    transform: translateX(calc(100%));
}

.switch-btn:hover {
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}